body{
    background-color: #e6e7eb;
    font-family: Arial, sans-serif;
    margin: 40px;
}
h1{
    color: #333333;
    text-align: center;
}
h2{
    color:#555555;
    line-height: 1.6;


}
ul{
    background-color: rgb(74, 72, 72);
    color:rgb(199, 190, 190);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.profile,
.hobby,
.goal{
    flex: 1;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
@media(max-width: 768px){
    .container{
        flex-direction: column;
    }
    h1{
        font-size: 24px;
    }
}